.place__title {
	font-size: 72px;
	max-width: 100%;
	margin: 0;
	grid-area: title;
	font-weight: 900;
	margin-top: 70px;
	margin: 80px 0 48px 0;
}



@media screen and (max-width: 1024px) {
	.place__title {

	};
}

@media screen and (max-width: 768px) {
	.place__title {
		font-size: 42px;
		line-height: 46px;
		margin: 70px 0 48px 0;
	}
}


@media screen and (max-width: 700px) {
	.place__title {
		font-size: 32px;
		line-height: 35px;
		width: 90%;
		margin: 50px 0 32px 16px;
	}
}