.photo-grid {
	display: grid;
	grid-template-columns: repeat(4, 285px);
	grid-template-rows: repeat(3, 215px);
	justify-content: center;
	gap: 15px;
	max-width: 1184px;
	margin: 0 auto;
}

@media screen and (max-width: 1200px) {
	.photo-grid {
		grid-template-columns: repeat(3, 300px);
		grid-template-rows: repeat(4, 225px) 70px;
	}
}

@media screen and (max-width: 947px) {
	.photo-grid {
		grid-template-columns: repeat(2, 352px);
		grid-template-rows: repeat(6, 264px);
	}
}

@media screen and (max-width: 736px) {
	.photo-grid {
		grid-template-columns: 288px;
		grid-template-rows: 216px;

	}
}