.place__image {
	width: 460px;
	grid-area: image;
	margin-bottom: 13%;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.place__image {
		width: 440px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.place__image {
		width: 340px;

	}
}