.lead {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 1.5fr 0.65fr 3.1fr;
	grid-template-columns: 1fr;
	max-width: 984px;
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.lead {
		max-width: 928px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.lead {
		max-width: 768px;
		margin: 0 auto;
	}
}


@media screen and (max-width: 320px)  {
	.lead {
		max-width: 100%;
		margin: 0 auto;
		grid-template-rows: 0.7fr 0.65fr 2.5fr;
	}
}