.lead {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 1.3fr 0.65fr 3.1fr;
	grid-template-columns: 1fr;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.lead {
		max-width: 928px;
		margin: 0 auto;
	}
}


@media screen and (min-width: 320px) and (max-width: 767px) {
	.lead {
		max-width: 100%;
		margin: 0 auto;
		grid-template-rows: 0.5fr 0.65fr 2.5fr;
	}
}