.cover__subtitle {
	margin: 0 auto;
	z-index: 5;
	font-size: 18px;
	line-height: 22px;
	width: 380px;
	text-align: center;
	height: fit-content;
	margin: 3% auto 0 auto;
	align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 16px;
		width: 288px;
	}
}