.header__logo {
  margin: 28px 0 auto 48px;

}

@media screen and (max-width: 768px) {
	.header__logo {
		margin: 28px 0 auto 24px;
	}
}


@media screen and (max-width: 450px) {
	.header__logo {
		width: 142px;
		height: 42px;
		margin: 16px 0 auto 16px;
	}
}