.footer__link {
	text-decoration: none;
	color: white;
	transition: 0.5s;
	height: fit-content;
	align-self: flex-end;
	font-size: 16px;
	line-height: 18px;

}

.footer__link:hover {
	opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer__link {
		align-self: flex-start;
		font-size: 24px;
		line-height: 24px;
	}
}