.lead__title {
	font-size: 96px;
	line-height: 100px;
	max-width: 720px;
	text-align: center;
	margin: 0 auto 20px auto;
	align-self: end;
	font-weight: 900;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.lead__title {
		font-size: 40px;
		max-width: 90%;
		line-height: 44px;
	}
}

@media screen and (max-width: 540px) {
	.lead__title {
		margin-top: 3%;
	}
}