.lead__title {
	font-size: 96px;
	line-height: 100px;
	max-width: 720px;
	text-align: center;
	margin: 56px auto 32px auto;
	align-self: end;
	font-weight: 900;
}

@media screen and (max-width: 1024px) {
	.lead__title {
		margin: 48px auto 32px auto;
	}
}

@media screen and (max-width: 767px) {
	.lead__title {
		font-size: 40px;
		max-width: 320px;
		line-height: 44px;

	}
}

@media screen and (max-width: 320px) {
	.lead__title {
		margin: 48px auto 16px auto;
	}
}

