.lead__photo-map {
	max-width: 984px;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.lead__photo-map {
		max-width: 928px;
		margin: 0 auto;
	}
}


	

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.lead__photo-map {
		max-width: 751px;
		margin: 0 auto;

	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.lead__photo-map {
		max-width: 100%;
		margin: 0 auto;
	}
}