.lead__photo-map {
	max-width: 984px;
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.lead__photo-map {
		max-width: 928px;
		margin: 0 auto;
	}
}


@media screen and (min-width: 768px) {
	.lead__photo-map {
		max-width: 100%;
		margin: 0 auto;

	}
}

@media screen and (min-width: 320px) {
	.lead__photo-map {
		max-width: 100%;
		margin: 0 auto;
	}
}