.footer__links {
	display: flex;
	min-width: 480px;
	margin-left: 48px;
}


@media screen and (max-width: 768px) {
	.footer__links {
		margin-left: 24px;
	}
}

@media screen and (max-width: 730px) {
	.footer__links {
		flex-direction: column;
		justify-content: start;
		min-width: 200px;
		margin-left: 16px;
	}
}	