.footer__links {
	display: flex;
	min-width: 480px;
	justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer__links {
		min-width: 10%;
		flex-direction: column;
	}
}