.place__paragraph {
	font-size: 18px;
	line-height: 29.34px;
	font-weight: normal;
	margin: 0 0 26px 0;
	grid-area: paragraph;
}

.place__paragraph:last-of-type {
	margin: 0 0 0 0;
}

@media screen and (max-width: 768px) {
	.place__paragraph {
		margin: 0 0 25px 0;
		font-size: 16px;
		line-height: 26.08px;
		
	}
	.place__paragraph:last-of-type {
		margin: 0 0 0 0;
	}
}

@media screen and (max-width: 700px) {
	.place__paragraph {
		margin: 0 16px 25px 16px;
	}

	.place__paragraph:last-of-type {
		margin: 0 16px 0 16px;
	}
}
