.intro__text {
	font-size: 16px;
	line-height: 26.08px;
	max-width: 690px;
	margin: 40px 0 33px 0;
}

@media screen and (max-width: 768px){
	.intro__text {
		justify-self: center;
		max-width: 720px;
	}
}

@media screen and (max-width: 720px) {
	
}