.intro {
	display: grid;
	grid-template-rows: 0.1fr 1.3fr 0.3fr;
	max-width: 984px;
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.intro {
		max-width: 91%;
	}
}

@media screen and (max-width: 768px){
	.intro {
		max-width: 93.5%;
		grid-template-rows: 0.1fr 1.3fr 0.3fr;
		justify-content: end;
	}
}

@media screen and (max-width: 320px) {
	.intro {
		max-width: 91%;
		justify-content: center;
		grid-template-rows: 0.1fr 1.3fr 0.4fr;
	}
}
