.intro {
	display: grid;
	grid-template-rows: 0.7fr 1.3fr 1.1fr;
	max-width: 984px;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.intro {
		max-width: 928px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.intro {
		max-width: 720px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) and (min-width: 320px) {
	.intro {
		max-width: 288px;
	}
}
