.cover {
	min-width: 1280px;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.cover {
		min-width: 1024px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.cover {
		min-width: 100%;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.cover {
		min-width: 100%;
	}
}