.cover__overlay {
	max-width: 1184px;
	min-height: 740px;
	background-color: #2a2c2f81;
	opacity: 0.7;
	margin: 0 auto;
	transition: 0.4S;
	display: grid;
	grid-template-rows: 1fr 1fr;
	align-self: center;
}

.cover__overlay:hover {
	background-color: #141516;
}

@media screen and (min-width: 1024px) and (max-width: 1184px) {
	.cover__overlay {
		min-height: 640px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.cover__overlay {
		min-height: 480px;
	}
}