.cover__overlay {
	position: absolute;
	width: 1184px;
	height: 740px;
	background-color: #2a2c2f81;
	z-index: 0;
	opacity: 0.7;
	left: 0; 
  right: 0; 
	margin: 0 auto;
	transition: 0.4S;
	display: flex;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.cover__overlay:hover {
	background-color: #141516;
}