.cover__background {
	background-image: url(/images/cover-trains.jpg);
	background-repeat: no-repeat;
	background-size: 1184px 740px;
	background-position: center;
	min-height: 100px;
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1184px) {
	.cover__background {
		background-size: cover;
		
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.cover__background {
		background-size: cover;

	}
}