.cover__title {
	z-index: 3;
	font-size: 72px;
	line-height: 76px;
	width: 500px;
	text-align: center;
	height: fit-content;
	margin: 0 auto;
	align-self: end;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.cover__title {
		font-size: 32px;
		line-height: 35px;
		width: 250px;
	}
}