.place {
	max-width: 984px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.7fr 0.1fr 0.2fr;
	grid-template-areas: 
	"title url"
	"image paragraph-one"
	"image paragraph-two";
	gap: 3%;
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.place {
		max-width: 928px;
	}
}