.place {
	max-width: 984px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.4fr 0.1fr 1.8fr;
	grid-template-areas: 
	"title url"
	"image paragraph"
	"image .";
	gap: 3%;
}


@media screen and (max-width: 1024px) {
	.place {
		max-width: 928px;
		grid-template-rows: 0.6fr 0.1fr 1.8fr;
	}
}

@media screen and (max-width: 768px) {
	.place {
		max-width: 720px;
		margin: 0 auto;
		grid-template-rows: 0.1fr 0.1fr 1.4fr;
		grid-template-columns: 0.6fr 1fr;
	}
}

@media screen and (max-width: 540px) {
	.place {
		grid-template-columns: none;
		grid-template-rows: 0.6fr 0.1fr 0.8fr 0.1fr 0.1fr;
		grid-template-areas: 
		"title"
		"url"
		"image"
		'paragraph-one'
		'paragraph-two';
		gap: 2.3%;
		max-width: 100%;
		margin: 0 auto;
	}
}