.photo-grid__image {
	width: 284px;
	height: 213px;
	list-style-type: none;
}


@media screen and (max-width: 1200px) {
	.photo-grid__image {
		width: 300px;
		height: 225px;
	}
	.photo-grid__image:last-of-type {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 947px) {
	.photo-grid__image {
		width: 352px;
		height: 264px;
	}
	.photo-grid__image:last-of-type {
		margin-bottom: 18px;
	}
}

@media screen and (max-width: 737px) {
	.photo-grid__image {
		width: 288px;
		height: 216px;
	}
	.photo-grid__image:last-of-type {
		margin-bottom: 14px;
	}
}
