.intro__title {
	font-size: 54px;
	line-height: 58px;
	font-weight: 900;
	max-width: 690px;
	align-self: end;
	margin: 0;
}

@media screen and (max-width: 716px)  {
	.intro__title {
		font-size: 32px;
		line-height: 35px;
		max-width: 720px;
	}
}